.button, input[type="submit"], button {
    color: #FFF;
    font-size: 14px;
    background: #2A2;
    font-style: italic;
    margin: 30px 5px;
    padding: 10px 30px;
    cursor: pointer;
    opacity: 0.8;
    float: right;
    &:hover{
      opacity: 1;
    }
   
    &:disabled, &[disabled]{
      background: #888;
      color: #FFF;
    }
   
    &.important{
      background: #A22;
      color: #FFF;
    }
  }