$normal_background_color: #2A2 !default;
$normal_text_color: #FFF !default;
 
$disabled_background_color: #888 !default;
$disabled_text_color: #FFF !default;
 
$important_background_color: #A22 !default;
$important_text_color: #FFF !default;