@import "./layout/police";
@import "./layout/color";
@import "./layout/style";
@import "./layout/media";
@import "./layout/loader";


@import "./layout/style2";
@import "./layout/bloc2";
@import "./layout/media2";
@import "./layout/animation";
@import "./layout/police2";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

