@media screen and (min-width: 1445px) and (max-width:2570px){
    img{
        object-fit: cover;
    }
    .header-logo {
        font-size: 2em;
        font-weight: 900;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 130px;
        align-items: center; }
    .destok__bloc{
        display: flex;
        align-items: end;
        background: #f5f5f5;
    }
    .titre-bloc{
        font-size: 3em;
    }
    
   .container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    box-shadow: inset 0px 7px 4px -8px;
    font-size: 2em;
    &__localisation{
        background: #f5f5f5;
        width: 50%;
        font-size: 1.3em;
        height: 65px; 
    
}.button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 70px;
    .bouton{
 height: 72px;
width: 450px;

    border-radius: 25px;
    box-shadow: 2px 2px 10px #848383;
    transition: transform 400ms;
    border: 0;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
     
    }
}


   }
    #container2{
        width: 50%;
        height: 484px;
    background: #f5f5f5;
    box-shadow: inset 0px 7px 4px -8px;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
        .fonctionnement{
            display: flex;
            align-items: center;
            width: 60%;
            height: 86px;
            border-radius: 15px;
            box-shadow: 1px 6px 7px 0px #dddddd;
            margin-bottom: 20px;
            font-weight: 900;
            justify-content: center;
            
            
            .chiffre{
                position: relative;
                left: -153px;
                font-size: 1.5em;
                height: 30px;
                width: 30px;
                margin: 0;
                    }
                    .icon{
                        font-size: 1.8em;
                    }
                    .text-fonctionnement{
                        margin-left: 130px;
                        
                        font-size: 1.8em;
                    }
         }
        }
       .container3{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            background: white;
            .titre-bloc {
                font-size: 3em;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .image-bloc{
                width: 22%;
    margin-bottom: 20px;
    position: relative;
    margin: 20px;
            }
            .image{
                object-fit: cover;
            }
        
       }
       .bloc-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
        font-size: 1.5em;
    .footer-media{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        align-items: center;
        .logo-footer{
        width: 100px;
        color: white;
        height: 33px;
        
        margin: 10px;
        .logo-media{
            width: 100%;
        }
        }
    
    }
        }











         }
@media screen and (min-width: 1026px) and (max-width:1441px){
   
    .header-logo{
        font-size: 1.5em;
        height: 100px;
    }
    
    #destok{
        display: flex;
        flex-wrap: wrap;
    .destok__bloc{
        width: 100%;
display: flex;
background: #f5f5f5;
.container1  {
    width: 100%;
    box-shadow: inset 0px 7px 4px -8px;
    background: #f5f5f5;
    &__localisation{
       background: #f5f5f5;
        width: 50%;
        font-size: 1.3em;
        height: 65px;
        
    }
}
.text-gras{
    display: flex;
    font-size: 1.5em;
}
.align-text{
    margin: 5px;
}
.container1__localisation-p{
    display: flex;
    font-size: 1em;
}
.bouton{
    height: 50px;
    width: 49%;
    border-radius: 25px;
    box-shadow: 2px 2px 10px #848383;
    transition: transform 400ms;
    border: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
#container2{
    width:100%;
    background: #f5f5f5;
    box-shadow: inset 0px 7px 4px -8px;
    margin-left: 0;
    .fonctionnement{
        display: flex;
    align-items: center;
    width: 95%;
    height: 70px;
    border-radius: 15px;
    box-shadow: 1px 6px 7px 0px #dddddd;
    margin-bottom: 20px;
    font-weight: 900;
    justify-content: flex-start;
        .chiffre{
    position: relative;
    left: -14px;
        }
        .icon{
            font-size: 1.5em;
            margin-left: 80px;
        }
        .text-fonctionnement{
            margin-left: 100px;
            font-size: 1.3em;
        }
    }
  
}
}
}
.responsive-img{
    display: flex;
    width: 95%;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: inherit;
    justify-content: center;
    background: white;

       
        .image-bloc {
        width: 22%;
        margin: 10px;
         }
         }
        .titre-bloc{
            width: 96%;
            display: flex;
            justify-content: center;
            
            
            border-radius: 23px;
            height: 70px;
            margin-bottom: 10px;
        }
.localisation{
    border-radius: 20px
}

.bloc-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
.footer-media{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    .logo-footer{
    width: 100px;
    color: white;
    height: 33px;
    font-size: 2em;
    margin: 10px;
    .logo-media{
        width: 100%;
    }
    }

}
    }



}
@media screen and (min-width: 430px) and (max-width:1025px){

#container2{
        width: 90%;
    margin-left: 36px;
        .fonctionnement{
            display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        border-radius: 15px;
        box-shadow: 1px 6px 7px 0px #dddddd;
        margin-bottom: 20px;
        font-weight: 900;
        justify-content: center;
            &:hover >.icon{
                color: #9356DC ;
                
            }
            .icon{
                font-size: 1.4em;
                margin-left: -135px;
                color: #848383;
                &:hover{
                    transition: 2000ms;
                    color: #9356DC;
                }
            }
        
            
            .chiffre{
                display: flex;
        justify-content: center;
        border: 1px solid #9356DC;
        width: 20px;
        font-size: 0.9em;
        border-radius: 15px;
        height: 21px;
        align-items: center;
        position: absolute;
        justify-content: center;
        
            }
            
            .text-fonctionnement{
                margin-left: 122px;
                margin-top: 0;
    
            }
    }}













    .container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: inherit;
    justify-content: center;

       
        .image-bloc {
        width: 45%;
        margin: 10px;
         }
         }
        .titre-bloc{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .fonctionnement{
            display: flex;
            align-items: center;
            justify-content: center;
            .chiffre{
                position: absolute;
                left: 25px;
            }
        }

}
@media screen and (max-width:429px){
.chiffre{
    position: absolute;
    left: 11px;
}


}