/*1ere partie */

.margin-10{
    margin: 10px;
}
.margin{
    margin-left: 10px;
}
.header{
    display: flex;
    justify-content: center;
}
.localisation{
    display: flex;
    justify-content: center;
    background: gray;
    font-size: 25px;
    align-items: baseline;
}
.réservez{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre-réservez{
    font-size: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-réservez{
    font-size: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.buttom-réservez{
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttom-text{
    border-bottom-right-radius: 43px;
    border-bottom-left-radius: 43px;
    border-top-right-radius: 43px;
    border-top-left-radius: 43px;
    background: #bd28eb;
    width: 55%;
    height: 80px;
    font-size: 35px;
    color: white;
}
/*2eme partie*/
.fonctionnement{
    width: 100%;
}
.titre-fonctionnement{
display: flex;
flex-direction: column;
justify-content: center;
}
.fonctionnement-B{
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}
.fonctionnement-B-1{
    border-bottom-right-radius: 43px;
    border-bottom-left-radius: 43px;
    border-top-right-radius: 43px;
    border-top-left-radius: 43px;
    background: #e5e2e5;
    width: 90%;
    height: 120px;
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
}
.chiffre-gauche{
    display: flex;
    width: 50px;
    font-size: 40px;
    background: #9114d6;
    border-radius: 45%;
    justify-content: center;
    margin-right: 60px;
}
.text-gras{
    font-size: 45px;
    margin-left: 50px;
}

/*3eme partie*/


.Restaurant-contener{
    display: inline-flex;
    flex-wrap: wrap;
}
.restaurant{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.restaurant img{
    width: 90%;
    height: 25em;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
   
}

.text-restaurants{
    width: 90%;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
    background: rgb(235, 234, 234);
    margin-bottom: 30px;
    display: flex;
    height: 150px;
    justify-content: space-between;
}
.restaurant .nouveau{
    position: absolute;
   
    background: rgb(104, 211, 211);
    font-size: 1.5em;
    width: 3.6em;
    height: 2.5em;
}
.text-simple{
    font-size: 30px;
    margin: 10px;
}
.span-text{
    display: flex;
    flex-direction: column;
}
.text-gras-R{
    margin: 10px;
    font-size: 35px;
}
.coeur{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.coeur:hover{
    color: #9114d6;
}

h5{
    font-size: 3em;
    margin: 0.2em;
}
.footer{
    display: flex;
    flex-direction: column;
    background: gray;
}
.text-footer{
    font-size: 30px;
}
align-icon{
    width: 100%;
    display: flex;
    align-items: baseline;
}