h6{
    font-size: 0.8em;
    margin:0.1em;
}
h4{
    font-size: 4em;
    margin: .1em;

}
p{
    margin:0.1em;
    font-size:0.6em;
}
section{
    position: relative;
    border-radius: 75px;
}

.text-margin{
    margin-right: 25px;
}
.icon-margin{
    margin: 1em;
}
.margin-top{
    margin-top:-4em;
}

