.flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.flex-menu{
    display: flex;
    align-items: baseline;

}
.container {
    display: flex;
    justify-content: center;
   /* @include border($colour-accent);*/
}
.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-footer{
display: flex;
flex-direction: column;

}
.container-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

