.localisation {
  background: #dfdfdf;
}

.bouton {
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
}

.chiffre {
  background: #9356DC;
  color: white;
}

.bloc-footer {
  background: #2c2c2c;
}

.titre-text {
  background: #99E2D0;
  color: green;
}

.text-gras {
  font-weight: bold;
}

.fonctionnement {
  cursor: pointer;
  background: white;
}
.fonctionnement:hover {
  background: #ecdcfc;
}

p {
  margin: 10px;
}

.titre-bloc {
  font-size: 1.5em;
}

.header-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-logo .header-img {
  width: 35%;
}

.titre {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -35px;
  position: relative;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container1 .localisation {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: center;
}
.container1 .text-gras {
  font-size: 1.5em;
  font-weight: bold;
}
.container1 .button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.container1 .button .bouton {
  height: 40px;
  width: 70%;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #807c7c;
  /*transition-property: transform;
  transition-duration: 400ms;*/
  transition: transform 400ms;
  background-image: linear-gradient(330deg, #9356DC, #FF79DA);
  border: 0;
  color: white;
}
.container1 .button .bouton:hover {
  transform: scale(1.15);
}

.container2 {
  width: 100%;
}
.container2 .fonctionnement {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 50px;
  border: 1px solid #dddddd;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px #dddddd;
  margin-bottom: 20px;
}
.container2 .fonctionnement:hover + .icon {
  color: #9356DC;
  transform: scale(1.15);
}
.container2 .fonctionnement .icon {
  font-size: 1.5em;
  text-shadow: 0px 3px 4px #535353;
}
.container2 .fonctionnement .icon:hover {
  text-shadow: 0px 3px 4px #9356DC;
}
.container2 .fonctionnement .chiffre {
  display: flex;
  justify-content: center;
  margin-left: -4px;
  border: 1px solid #9356DC;
  width: 15px;
  font-size: 1.1em;
  border-radius: 15px;
  height: 17px;
}
.container2 .fonctionnement .text-fonctionnement {
  margin-left: 40px;
  margin-top: 15px;
}

.container3 {
  width: 100%;
}
.container3 .image-bloc {
  width: 100%;
  margin-bottom: 20px;
}
.container3 .image {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 150px;
}
.container3 .text-image-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 10px #b8b8b8;
  border: 0;
  margin-top: -5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.coeur-bloc {
  margin-right: 30px;
}
.coeur-bloc .icon-coeur {
  text-shadow: 0px 3px 4px #000000;
}
.coeur-bloc .icon-coeur:hover {
  font-size: 1.5em;
  transition: 500ms;
  font-weight: 900;
  color: #9356DC;
  text-shadow: 0px 3px 4px #FF79DA;
}

.bloc-footer {
  margin-top: 50px;
  background: #2c2c2c;
  display: flex;
  justify-content: flex-start;
}
.bloc-footer .footer-media {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}
.bloc-footer .footer-media .logo-footer {
  width: 100px;
  margin-bottom: 30px;
  color: white;
  height: 25px;
  font-size: 2em;
}
.bloc-footer .footer-media .logo-footer .logo-media {
  filter: invert(1);
}
.bloc-footer .footer-media .icon-footer {
  display: flex;
  align-items: baseline;
  color: white;
  margin: 0px;
}
.bloc-footer .footer-media .text-footer {
  color: white;
  margin-left: 10px;
  margin-top: -15px;
}

@media screen and (min-width: 770px) and (max-width: 2560px) {
  .container-destok {
    display: flex;
  }
  .container-destok .container1 {
    width: 100%;
  }
  .container-destok .container-destok2 {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .container-destok .container-destok2 .container2 {
    width: 100%;
    margin-top: 190px;
  }

  .container3 {
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .localisation {
    border-radius: 20px;
  }

  .titre-bloc {
    background: #dfdfdf;
    height: 38px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .bloc-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bloc-footer .footer-media {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
  }
  .bloc-footer .footer-media .logo-footer {
    width: 100px;
    color: white;
    height: 33px;
    font-size: 2em;
    margin: 10px;
  }
  .bloc-footer .footer-media .logo-footer .logo-media {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 426px) {
  body {
    width: 95%;
    margin: 7px;
  }

  .logo-media {
    width: 130%;
  }
}
@media screen and (min-width: 427px) and (max-width: 770px) {
  body {
    width: 90%;
    margin-left: 30px;
  }

  .logo-media {
    width: 130%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    display: block;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    display: block;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    display: block;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    display: none;
    transform: scale(0);
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
  70% {
    color: #8a8a8a;
    text-shadow: none;
  }
  100% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
}
@media screen and (min-width: 1020px) and (max-width: 2560px) {
  * {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0px;
  }

  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA, #FF79DA, #9356DC);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    z-index: 1;
    position: fixed;
    animation: loader 2s ease-in;
    transform: scale(0);
  }

  .lettre {
    color: #99E2D0;
    font-size: 80px;
    letter-spacing: 10px;
    margin-bottom: 0px;
    animation: flash 1.2s linear infinite;
    font-family: "shrikhandregular", sans-serif;
  }

  .lettre:nth-child(1) {
    animation-delay: 0.1s;
  }

  .lettre:nth-child(2) {
    animation-delay: 0.2s;
  }

  .lettre:nth-child(3) {
    animation-delay: 0.3s;
  }

  .lettre:nth-child(4) {
    animation-delay: 0.4s;
  }

  .lettre:nth-child(5) {
    animation-delay: 0.5s;
  }

  .lettre:nth-child(6) {
    animation-delay: 0.6s;
  }

  .lettre:nth-child(7) {
    animation-delay: 0.7s;
  }

  .lettre:nth-child(8) {
    animation-delay: 0.8s;
  }
}
@media screen and (min-width: 320px) and (max-width: 1010px) {
  .loader {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA, #FF79DA, #9356DC);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    position: fixed;
    animation: loader 2s ease-in;
    transform: scale(0);
  }

  .lettre {
    color: #99E2D0;
    font-size: 80%;
    letter-spacing: 10px;
    margin-bottom: 0px;
    animation: flash 1.2s linear infinite;
    font-family: "shrikhandregular", sans-serif;
  }

  .lettre:nth-child(1) {
    animation-delay: 0.1s;
  }

  .lettre:nth-child(2) {
    animation-delay: 0.2s;
  }

  .lettre:nth-child(3) {
    animation-delay: 0.3s;
  }

  .lettre:nth-child(4) {
    animation-delay: 0.4s;
  }

  .lettre:nth-child(5) {
    animation-delay: 0.5s;
  }

  .lettre:nth-child(6) {
    animation-delay: 0.6s;
  }

  .lettre:nth-child(7) {
    animation-delay: 0.7s;
  }

  .lettre:nth-child(8) {
    animation-delay: 0.8s;
  }
}
/*
    $prog-loader-dur: 500ms;
$prog-loader-delay: 1000ms;
$loader-delay: $prog-loader-dur + $prog-loader-delay;
.loader {
    animation: loader 2000ms $loader-delay;
}
@keyframes icon-loader{
0% {
     opacity: 0;
      transform: rotateX(360deg);

}
100% {
   opacity: 1;
      transform: rotate(0);

    }
}
*/

/*# sourceMappingURL=style.css.map */
