.localisation {
  background: #cac9c9;
}

.bouton {
  background-image: linear-gradient(180deg, #ff00dd, #8400ff);
}

.chiffre {
  background: #6b03f1;
  color: white;
}

.bloc-footer {
  background: #2c2c2c;
}

.titre-text {
  background: #38ecdd;
  color: green;
}

.text-gras {
  font-weight: bold;
}

.fonctionnement {
  cursor: pointer;
  background: white;
}
.fonctionnement:hover {
  background: #ecdcfc;
}

p {
  margin: 10px;
}

.titre-bloc {
  font-size: 1.5em;
}

.coeur-bloc {
  margin-right: 20px;
}

.header-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-logo .header-img {
  width: 55%;
}

.titre {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -35px;
  position: relative;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container1 .localisation {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: center;
}
.container1 .text-gras {
  font-size: 1.5em;
  font-weight: bold;
}
.container1 .button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.container1 .button .bouton {
  height: 40px;
  width: 70%;
  border-radius: 25px;
  /*transition-property: transform;
  transition-duration: 400ms;*/
  transition: transform 400ms;
  cursor: pointer;
}
.container1 .button .bouton:hover {
  transform: scale(1.15);
}

.container2 {
  width: 100%;
}
.container2 .fonctionnement {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 50px;
  border: 1px solid #dddddd;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px #dddddd;
  margin-bottom: 20px;
  cursor: pointer;
}
.container2 .fonctionnement .chiffre {
  display: flex;
  justify-content: center;
  margin-left: -4px;
  border: 1px solid #7700ff;
  width: 15px;
  font-size: 1.1em;
  border-radius: 15px;
  height: 17px;
}
.container2 .fonctionnement .icon {
  color: gray;
  margin-left: 20px;
  cursor: pointer;
}
.container2 .fonctionnement .icon:hover {
  color: #7700ff;
}
.container2 .fonctionnement .text-fonctionnement {
  margin-left: 40px;
  margin-top: 15px;
}

.container3 {
  width: 100%;
}
.container3 .image-bloc {
  width: 100%;
  margin-bottom: 20px;
}
.container3 .image {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 150px;
}
.container3 .text-image-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  margin-top: -5px;
  box-shadow: 1px 1px 1px grey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bloc-footer {
  margin-top: 50px;
}

.logo-footer {
  width: 100px;
  margin: 5px;
  color: azure;
  height: 25px;
  font-size: 2em;
}

.icon-footer {
  display: flex;
  align-items: baseline;
  color: azure;
}

.text-footer {
  color: azure;
}

@media screen and (min-width: 770px) and (max-width: 2560px) {
  .container-destok {
    display: flex;
  }
  .container-destok .container1 {
    width: 100%;
  }
  .container-destok .container-destok2 {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .container-destok .container-destok2 .container2 {
    width: 100%;
    margin-top: 190px;
  }

  .container3 {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .localisation {
    border-radius: 20px;
  }

  .titre-bloc {
    background: #cac9c9;
    height: 38px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
