$colour-primary: #FF79DA;
$colour-secondary: #dfdfdf;
$colour-accent: #9356DC;
$colour-bleu: #99E2D0;
$colour-invalid: #2c2c2c;
$colour-white: rgb(255, 255, 255);

.localisation{
    background: $colour-secondary;
}
.bouton{
    background-image: linear-gradient(180deg, #9356DC , #FF79DA);
}
.chiffre{
    background: $colour-accent ;
    color: $colour-white;
}

.bloc-footer{
    background: $colour-invalid ;
}
.titre-text{
background: $colour-bleu;
color: green;
}
.text-gras{
    font-weight: bold;

}
.fonctionnement{
    cursor: pointer;
    background: $colour-white;

        &:hover {
            background: rgb(236, 220, 252) ;
    }
}