$colour-primary: #FF79DA;
$colour-secondary: #dfdfdf;
$colour-accent: #9356DC;
$colour-bleu: #99E2D0;
$colour-invalid: #2c2c2c;
$colour-white: rgb(255, 255, 255);

.container1__localisation{
    background: $colour-secondary;
}
.bouton{
    background-image: linear-gradient(330deg, #9356DC , #FF79DA);
    &:hover{
        background-image: linear-gradient(330deg, #9864d8, #fd8bdd);
    }
}
.chiffre{
    background: $colour-accent ;
    color: $colour-white;
}

.bloc-footer{
    background: $colour-invalid ;
}
.titre-text{
background: $colour-bleu;

}
.text-gras{
    font-weight: bold;

}
.fonctionnement{
    
    background: $colour-white;

        &:hover {
            background: rgb(247, 241, 253) ;
    }
}
.loader{

    background-image: linear-gradient(to bottom, $colour-secondary,$colour-bleu );
    .lettre{
        color: $colour-bleu;
    }
}
a{
    color: $colour-white; 
    text-decoration: none;
    
}