p{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titre-bloc{
    font-size: 1.5em;
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;

}