@media screen and (min-width: 770px) and (max-width:2560px){
    body{
        background: #f6f6f6;
    }
    #destok{
        display: flex;
        flex-wrap: wrap;
    .destok__bloc{
        width: 100%;
margin-left: 20px;
margin-right: 20px;
display: flex;
.container1  {
    width: 100%;
    &__localisation{
        background: #f6f6f6;
        box-shadow: none;
    }
}
#container2{
    width:80%;
  
}
}
}
.responsive-img{
    display: flex;
    width: 95%;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: inherit;
    justify-content: center;

       
        .image-bloc {
        width: 22%;
        margin: 10px;
         }
         }
        .titre-bloc{
    width: 100%;
    display: flex;
    justify-content: center;
        }
.localisation{
    border-radius: 20px
}

.bloc-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
.footer-media{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    .logo-footer{
    width: 100px;
    color: white;
    height: 33px;
    font-size: 2em;
    margin: 10px;
    .logo-media{
        width: 100%;
    }
    }

}
    }



}
@media screen and (min-width: 430px) and (max-width:770px){

    .container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: inherit;
    justify-content: center;

       
        .image-bloc {
        width: 45%;
        margin: 10px;
         }
         }
        .titre-bloc{
            width: 100%;
        }
        

}