@media screen and (min-width: 770px) and (max-width:2560px){
    .container-destok{
    display: flex;

.container1  {
    width: 100%;
}
.container-destok2{
width: 100%;
margin-left: 20px;
margin-right: 20px;

.container2{
    width:100%;
    margin-top: 190px;
}
}
}
.container3{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.localisation{
    border-radius: 20px
}
.titre-bloc{
    background: #cac9c9;
    height: 38px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px
}
}