@media screen and (min-width: 770px) and (max-width:2560px){
   
    .header-logo{
        font-size: 1.5em;
        height: 100px;
    }
    
    #destok{
        display: flex;
        flex-wrap: wrap;
    .destok__bloc{
        width: 100%;
margin-left: 20px;
margin-right: 20px;
display: flex;
.container1  {
    width: 100%;
    background: white;
    &__localisation{
        background: #dad8d8;
        border-radius: 20px;
        width: 50%;
        font-size: 1.3em;
        height: 70px;
        
    }
}
.text-gras{
    display: flex;
    font-size: 1.5em;
}
.align-text{
    margin: 5px;
}
.container1__localisation-p{
    display: flex;
    font-size: 1em;
}
.bouton{
    height: 50px;
    width: 49%;
    border-radius: 25px;
    box-shadow: 2px 2px 10px #848383;
    transition: transform 400ms;
    border: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
#container2{
    width:80%;
    .fonctionnement{
        display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    box-shadow: 1px 6px 7px 0px #dddddd;
    margin-bottom: 20px;
    font-weight: 900;
    justify-content: flex-start;
        .chiffre{
            margin-right: 60px;
        }
        .icon{
            font-size: 1.5em;
        }
        .text-fonctionnement{
            margin-left: 130px;
            
            font-size: 1.3em;
        }
    }
  
}
}
}
.responsive-img{
    display: flex;
    width: 95%;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: inherit;
    justify-content: center;
    background: white;

       
        .image-bloc {
        width: 22%;
        margin: 10px;
         }
         }
        .titre-bloc{
            width: 70%;
            display: flex;
            justify-content: center;
            background: #dad8d8;
            margin-left: 130px;
            border-radius: 23px;
            height: 70px;
            margin-bottom: 10px;
        }
.localisation{
    border-radius: 20px
}

.bloc-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
.footer-media{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    .logo-footer{
    width: 100px;
    color: white;
    height: 33px;
    font-size: 2em;
    margin: 10px;
    .logo-media{
        width: 100%;
    }
    }

}
    }



}
@media screen and (min-width: 430px) and (max-width:770px){

    .container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: inherit;
    justify-content: center;

       
        .image-bloc {
        width: 45%;
        margin: 10px;
         }
         }
        .titre-bloc{
            width: 100%;
        }
        

}