@media screen and (min-width: 770px) and (max-width:2560px){
    .container-destok{
    display: flex;

.container1  {
    width: 100%;
}
.container-destok2{
width: 100%;
margin-left: 20px;
margin-right: 20px;

.container2{
    width:100%;
    margin-top: 190px;
}
}
}
.container3{
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
}
.localisation{
    border-radius: 20px
}
.titre-bloc{
    background: #dfdfdf;
    height: 38px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    margin-bottom: 10px;
}
.bloc-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
.footer-media{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    .logo-footer{
    width: 100px;
    color: white;
    height: 33px;
    font-size: 2em;
    margin: 10px;
    .logo-media{
        width: 100%;
    }
    }

}
    }



}

@media screen and (min-width: 320px) and (max-width:426px) {
    body{
        width: 95%;
        margin: 7px;
    }
    .logo-media{
        width: 130%;
    }
}
@media screen and (min-width: 427px) and (max-width:770px){
    body{
        width: 90%;
        margin-left: 30px;
    }
    .logo-media{
        width: 130%;
    }
}