@media screen and (min-width: 770px) and (max-width:2560px){
    #destok{
    display: flex;
    .destok__bloc{
        width: 100%;
margin-left: 20px;
margin-right: 20px;
.container1  {
    width: 100%;
}
#container2{
    width:100%;
    margin-top: 190px;
}
}
}
.container3{
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
    background: rgb(243, 243, 243);
}
.localisation{
    border-radius: 20px
}
.titre-bloc{
    background: #dfdfdf;
    height: 38px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    margin-bottom: 10px;
}
.bloc-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
.footer-media{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    .logo-footer{
    width: 100px;
    color: white;
    height: 33px;
    font-size: 2em;
    margin: 10px;
    .logo-media{
        width: 100%;
    }
    }

}
    }



}
@media screen and (min-width: 750px) and (max-width:770px){

    .container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: inherit;
    justify-content: center;

       
        .image-bloc {
        width: 45%;
        margin: 10px;
         }
         }
        .titre-bloc{
            width: 100%;
        }
        

}