.header-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    .header-img{
        width: 35%;
    }
}

.titre{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -35px;
    position: relative;
    }
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    .localisation{
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: center;
    }
    .text-gras{
    font-size: 1.5em;
    font-weight: bold;
    }
    .button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    .bouton{
        height: 40px;
        width: 70%;
        border-radius: 25px;
        /*transition-property: transform;
        transition-duration: 400ms;*/
        transition: transform 400ms;
        background-image: linear-gradient(330deg, #9356DC, #FF79DA);
            border: 0;
            color: white;

        &:hover {
            transform: scale(1.15);
    }
    }
}
}

.container2{
width: 100%;
    
    .fonctionnement{
        display: flex;
        align-items: baseline;
        width: 100%;
        height: 50px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 25px;
        box-shadow: 1px 1px 1px 1px  rgb(221, 221, 221) ;
        margin-bottom: 20px;
        &:active + .icon{
            color: #9356DC ;
            transform: scale(1.15);
        }
    
        
        .chiffre{
        display: flex;
        justify-content: center;
        margin-left: -4px;
        border: 1px solid #9356DC;
        width: 15px;
        font-size: 1.1em;
        border-radius: 15px;
        height: 17px;
        }
        
        .text-fonctionnement{
            margin-left:40px;
            margin-top: 15px;

        }
}}
.container3{
    width: 100%;
    .image-bloc{
        width: 100%;
        margin-bottom: 20px; 
        
    }
    
    .image{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 150px;
    }
    .text-image-bloc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 2px 2px 10px #b8b8b8;
        border: 0;
        margin-top: -5px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }

}
.coeur-bloc{
    margin-right: 30px;
    
        
    .icon-coeur{
        
        &:hover{
        transition: 500ms;
        font-weight: 900;
        color: #9356DC ;
        }
    }
}
.bloc-footer{
    margin-top: 50px;
    background: #2c2c2c;
    display: flex;
    justify-content: flex-start;
      .footer-media{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 10px;
    
      .logo-footer{
        width: 100px;
        margin-bottom: 30px;
        color: white;
        height: 25px;
        font-size: 2em;
        .logo-media{
            filter: invert(1);
        }
    
        }
    .icon-footer{
        display: flex;
        align-items: baseline;
        color: white;
        margin: -5px;
        }
        .text-footer{
            color: white;
        margin-left: 10px;
        margin-top: -15px;
    
        }
    }
    
    }