 body{
     margin: 0;
 }
 .align-text{
     display: flex;
     justify-content: center;
     margin: 0;
 }

.header-logo{
    font-size: 1.1em;
    font-weight: 900;
    margin: 11px;
   
        width: 100%;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__localisation{
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: center;
    box-shadow: inset 0px 7px 4px -8px;
    
    
    }
    &__localisation-p{
        font-size: 1em;
        margin: 10px;
    }
    .text-gras{
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 35px;
    }
    .button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 70px;
    .bouton{
    height: 50px;
    width: 185px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px #848383;
    transition: transform 400ms;
    border: 0;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
     
    }
}
}

#container2{
width: 90%;
margin-left: 20px;
margin-bottom: 70px;    
    .fonctionnement{
        display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    box-shadow: 1px 6px 7px 0px #dddddd;
    margin-bottom: 20px;
    font-weight: 900;
        &:hover >.icon{
            color: #9356DC ;
            
        }
        .icon{
            font-size: 1.3em;
            color: #848383;
            &:hover{
                transition: 2000ms;
                color: #9356DC;
            }
        }
    
        
        .chiffre{
            display: flex;
            justify-content: center;
            margin-left: -9px;
            margin-right: 25px;
            border: 1px solid #9356DC;
            width: 20px;
            font-size: 0.9em;
            border-radius: 15px;
            height: 21px;
            align-items: center;
        }
        
        .text-fonctionnement{
            margin-left:40px;
            margin-top: 15px;

        }
}}
.container3{
    width: 100%;
    padding-top: 1px; 
    .titre{
        display: flex;
        justify-content: flex-end;
        margin-bottom: -45px;
        position: relative;
        height: 35px;
        width: 90%;
    
    }
    .image-bloc{
        width: 90%;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
        .titre-text{
    font-size: 1.1em;
    font-weight: 900;
    margin: 11px;
    width: 72px;
    height: 27px;
    position: absolute;
    top: 8px;
    right: 16px;
    }
    }
    
    .image{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 150px;
        object-fit: cover;
    }
    .text-image-bloc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 2px 2px 10px #848383;
        border: 0;
        margin-top: -5px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }

}
.coeur-bloc{
    margin-right: 30px;
    font-size: 1.6em;
        
    .icon-coeur{
        
        &:hover{
            animation-duration: 5s;
            animation-delay: 5s;
        color: #9356DC ;
        font-weight: 900;
        }
    }
}
.bloc-footer{
    margin-top: 50px;
    background: #2c2c2c;
      .footer-media{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 10px;
    .section-text-footer{
display: flex;
.bloc-icon-footer{
display: flex;
flex-direction: column;
align-items: center;
.icon-footer{
    margin: 10px;
    color: #ffffff;
}
}
.bloc-text-footer{
    display: flex;
    flex-direction: column;
    
    .text-footer{
        color: #ffffff;
        
    }
}
    }
    .bloc-text-footer{
        .text-footer{
            color: #ffffff;
            
        }
    }
    
    
    
    .titre-footer{
        color: #ffffff;
        font-size: 2em;
        font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    }
    
    
    } 
}
        