
.bloc {
    animation: bloc 1s forwards;
}
@keyframes bloc{
0% {
     opacity: 0;
     transform: translateY(80px);
      
}
100% {
   opacity: 1;
    
    transform: translateY(0px);
    
    }
}
.bloc:nth-child(1) { 
  animation-delay: 0s; 
}
.bloc:nth-child(2) { 
  animation-delay: 0.3s; 
}
.bloc:nth-child(3) { 
  animation-delay: 0.6s; 
}
.bloc:nth-child(4) { 
  animation-delay: 0.9s;
 }
/*
$animation: bloc 2s cubic-bezier(0.64, 0, 0.78, 0) 0ms 1 alternate both;
@keyframes bloc {
    0% {
      opacity: 0;
      transform: rotateX(-100deg);
      transform-origin: top;
    }
  
    100% {
      opacity: 1;
      transform: rotateX(0deg);
      transform-origin: top;
    }
  }*/