
$prog-bloc-dur: 500ms;
$prog-bloc-delay: 1000ms;
$bloc-delay: $prog-bloc-dur + $prog-bloc-delay;
.bloc {
    animation: bloc 2000ms $bloc-delay;
}
@keyframes bloc{
0% {
     opacity: 0;
      transform: rotateX(-100deg);
      transform-origin: bottom;
}
100% {
   opacity: 1;
      transform: rotateX(0deg);
      transform-origin: bottom;
    }
}
/*
$animation: bloc 2s cubic-bezier(0.64, 0, 0.78, 0) 0ms 1 alternate both;
@keyframes bloc {
    0% {
      opacity: 0;
      transform: rotateX(-100deg);
      transform-origin: top;
    }
  
    100% {
      opacity: 1;
      transform: rotateX(0deg);
      transform-origin: top;
    }
  }*/