
.bloc {
    animation: bloc 1s forwards;
}
@keyframes bloc{
0% {
     opacity: 0;
     transform: translateY(100px);
      
}
100% {
   opacity: 1;
    
    transform: translateY(0px);
    
    }
}
/*
$animation: bloc 2s cubic-bezier(0.64, 0, 0.78, 0) 0ms 1 alternate both;
@keyframes bloc {
    0% {
      opacity: 0;
      transform: rotateX(-100deg);
      transform-origin: top;
    }
  
    100% {
      opacity: 1;
      transform: rotateX(0deg);
      transform-origin: top;
    }
  }*/