
.bloc {
  animation: bloc 1s;
}

@keyframes bloc {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.bloc1 {
  animation: bloc1 2s;
}

@keyframes bloc1 {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.bloc2 {
  animation: bloc2 3s;
}

@keyframes bloc2 {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}




 





        /*
$animation: bloc 2s cubic-bezier(0.64, 0, 0.78, 0) 0ms 1 alternate both;
@keyframes bloc {
    0% {
      opacity: 0;
      transform: rotateX(-100deg);
      transform-origin: top;
    }
  
    100% {
      opacity: 1;
      transform: rotateX(0deg);
      transform-origin: top;
    }
  }
  
  
  @keyframes rotate{
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
        
  }
  100% {
    opacity: 0;
    transform: rotateX(0deg);
    transform-origin: top;
      
      }
  }
  .bloc:nth-child(1) { 
    animation-delay: 0s; 
  }
  .bloc:nth-child(2) { 
    animation-delay: 0.3s; 
  }*/