
.flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.button{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container-media{
  display: flex;
    margin-top: 20px;
    flex-direction: column;
.bloc {
    
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 10px #b8b8b8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    &:hover{
     
      transition: 600ms;
    } 
  }
    .bloc .icon {
        position: relative;
        background-color: #99E2D0;
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        width: 30%;
        margin-right: -30%;
        
        &:hover{
         display: block;
         margin-right: -5px;


        }
         }
      .bloc .icon span {
        display: initial;
       color: white;
        transition: transform 10000ms ease-in-out;
        &:hover{
          display: block;
          opacity: 1;
          
        }
      
      }
        
    .bloc .texte {
      width: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      background-color: white;
      padding: 10px 20px 10px 10px;
      order: 1;
      transition: width 500ms;
      white-space: normal; 
        &:hover{
        width: 70%;
        text-overflow: ellipsis;
        
      
      }

        
     }
      .bloc .texte .prix {
        width: 30px;
        padding-top: 25px;
        white-space: nowrap;
         }
      .bloc .texte .menu {
        white-space: nowrap;
        overflow: hidden; }
        font-size: 15px;
      }
    