.flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.bloc-responsive{
   width: 98%;
   margin: 10px;
}


.responsive-taille{

    width: 90%;
    margin: .5em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 70px;
    background: (rgb(0, 183, 255));
    
}
.taille-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 70px;
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 1px 1px 1px;
    background: white;
    cursor: pointer;
    &:hover{
        width: 85%;
    }
    
    .text-gras{
        margin: 5px;
        font-size: 1.1em;
        width: 100%;

    }
    .text{
        margin: 5px;
        font-size: 1em;
        cursor: pointer;
        &:hover{
            font-size:13px
        }
    }
    }


.bloc-euro{
    width: 4em;
    display: flex;
    justify-content: center;
}
.euro{
       margin-right: 1em; 
    }
.button{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}