@media screen and (min-width: 770px) and (max-width:2560px){
   .header{
    display: flex;
    justify-content: center;
    .container-img{
        width: 50%;
    }
   }
 }
 .media-titre{
    display: flex;
    justify-content: center;
    width: 100%;
 .margin-top{
    width: 50%;
 }
}
 .container-media{
     display: flex;
     margin-top: 20px;
     flex-direction: row;
 }
 .footer-media{
     display: flex;
 }