.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
        width: 50%;
    }
    
    .container-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }
    
}
img{
    
        width: 100%;
        
    }
    .img-forme{
        height: 15em;
    }
.margin-top{
    display: flex;
    align-items: baseline;
    margin-top: -31px;
    background: white;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 65px;
    justify-content: space-around;
    .text-haut{
    margin: 1px;
    font-size: 2.5em;
    }
}
.titre-gras{
    width: 15%;
    font-size: 2em;
    margin: 5px;
    cursor: progress;
    &:hover{
        border-bottom: solid aqua;
    }
     
}
.bloc-footer{
    margin-top: 50px;
background: #2c2c2c;
  
    
}
  .logo-footer{
    width: 100px;
    margin: 5px;
    color: azure;
    height: 25px;
    font-size: 2em;

    }
.icon-footer{
    display: flex;
    align-items: baseline;
    color: azure;
    }
    .text-footer{
        color: azure;
    }
    .button2{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        .bouton2{
            height: 40px;
            width: 70%;
            border-radius: 25px;
            /*transition-property: transform;
            transition-duration: 400ms;*/
            transition: transform 400ms;
            background-image: linear-gradient(180deg, rgb(255, 0, 221), rgb(132, 0, 255));
            
            cursor: pointer;
    
            &:hover {
                transform: scale(1.15);
        }
        }
    }