.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    .retour-logo{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .logo{
        width: 50%;
    }
    
    .container-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }
}
    .retour-header{
    display: flex;
    align-items: center;
    
    
    
}
.color-purple{
    cursor: pointer;
    color: rgb(0, 0, 0);
    cursor: pointer; 
    &:hover {
            color: rgb(132, 0, 255);
    }
    }
.logo-header{
width: 50%;
margin-right: 60px;

}
img{
    
        width: 100%;
        
    }
    .img-forme{
        max-height: 235px;

    }
.margin-top{
    display: flex;
    align-items: baseline;
    margin-top: -31px;
    background: white;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 65px;
    justify-content: space-around;
    .text-haut{
    margin: 1px;
    font-size: 1.5em;
    }
}
.titre-gras{
    width: 15%;
    font-size: 1.5em;
    margin: 5px;
    cursor: progress;
    &:hover{
        border-bottom: solid aqua;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .bloc-responsive{
       width: 98%;
       margin: 10px;
    }
    
    
    .responsive-taille{
    
        width: 90%;
        margin: .5em;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        height: 70px;
        background: (rgb(0, 183, 255));
        
    }
    .taille-button{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        height: 70px;
        border: 1px solid rgb(189, 189, 189);
        box-shadow: 1px 1px 1px;
        background: white;
        cursor: pointer;
        &:hover{
            width: 85%;
        }
        
        .text-gras{
            margin: 5px;
            font-size: 1.1em;
            width: 100%;
    
        }
        .text{
            margin: 5px;
            font-size: 1em;
            cursor: pointer;
            &:hover{
                font-size:13px
            }
        }
        }
    
    
    .bloc-euro{
        width: 4em;
        display: flex;
        justify-content: center;
    }
    .euro{
           margin-right: 1em; 
        }
    .button{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}
.bloc-footer{
    margin-top: 50px;
background: #2c2c2c;
  
    
}
  .logo-footer{
    width: 100px;
    margin: 5px;
    color: azure;
    height: 25px;
    font-size: 2em;

    }
.icon-footer{
    display: flex;
    align-items: baseline;
    color: azure;
    }
    .text-footer{
        color: azure;
    }
    .button2{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        .bouton2{
            height: 40px;
            width: 70%;
            border-radius: 25px;
            /*transition-property: transform;
            transition-duration: 400ms;*/
            transition: transform 400ms;
            background-image: linear-gradient(180deg, rgb(255, 0, 221), rgb(132, 0, 255));
            
            cursor: pointer;
    
            &:hover {
                transform: scale(1.15);
        }
        }
    }