h3{
    margin: 0;
   font-size: 1em;
   
}
a{
    text-decoration: none;
    color:black;
}
p{
    
    font-size: 0.7em;
    margin: 10px;
}
.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    .retour-logo{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .logo{
        width: 50%;
    }
    
    .container-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }
}
    .retour-header{
    display: flex;
    align-items: center;
    
    
    
}
.color-header{
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 4px #505050;
    font-size: 1em;
    &:hover {
        font-size: 1.5em;
            color: #9356DC;
    }
    }
.logo-header{
width: 50%;
margin-right: 60px;

}
img{
    object-fit: cover;
        width: 100%;
        
    }
    .img-forme{
        max-height: 235px;

    }
.margin-top{
    display: flex;
    align-items: baseline;
    margin-top: -31px;
    background: #f5f5f5;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 65px;
    width: 100%;
    justify-content: space-around;
    .text-haut{
    margin: 1px;
    font-size: 1.5em;
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    
    }
    
    .icon-container{
        
        .icon-coeur{
            font-size: 1.3em;
            text-shadow: 0px 3px 4px #000000;
            &:hover{
                font-size: 1.5em;
                transition: 1000ms;
               font-weight: 900;
               color: #9356DC ;
               text-shadow: 1px 3px 4px #9356DC;
            }
        }
    }
}
.titre{
    width: 100%;
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
.titre-gras{
    width: 50px;
    font-size: 1.5em;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
     border-bottom: solid #99E2D0;
   
}
}
.bloc-bottom2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    .bottom2{
        color: white;
        height: 50px;
        width: 50%;
        margin-top: 10px;
        border-radius: 25px;
        transition: transform 500ms;
        background-image: linear-gradient(330deg, #9356DC, #FF79DA);
        border: 0 solid;
        box-shadow: 0px 4px 10px 1px #999898;
        /*transition-property: transform;
        transition-duration: 400ms;*/
        &:hover {
            transform: scale(1.15);
            background-image: linear-gradient(330deg,#9864d8, #ff8bde);
            box-shadow: 0px 4px 10px 1px #b6b5b5;
    }
    }
}
.bloc-footer{
    margin-top: 50px;
    background: #2c2c2c;
      .footer-media{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 10px;
    .section-text-footer{
display: flex;
.bloc-icon-footer{
display: flex;
flex-direction: column;
align-items: center;
.icon-footer{
    margin: 10px;
    color: #ffffff;
}
}
.bloc-text-footer{
    display: flex;
    flex-direction: column;
    
    .text-footer{
        color: #ffffff;
        margin: 9px;
        
    }
}
    }
    .bloc-text-footer{

        .text-footer {
            color: #ffffff;
            
        }
    }
    
    
    .bloc-text-footer{
    .titre-footer {
        margin: 10px;
        color: #ffffff;
        font-size: 1.8em;
        
    
    }
    }
    
    } 
}
    


