h3{
    margin: 0;
}
.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    .retour-logo{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .logo{
        width: 50%;
    }
    
    .container-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }
}
    .retour-header{
    display: flex;
    align-items: center;
    
    
    
}
.color-purple{
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 4px #505050;
    font-size: 1em;
    &:hover {
        font-size: 1.5em;
            color: #9356DC;
    }
    }
.logo-header{
width: 50%;
margin-right: 60px;

}
img{
    
        width: 100%;
        
    }
    .img-forme{
        max-height: 235px;

    }
.margin-top{
    display: flex;
    align-items: baseline;
    margin-top: -31px;
    background: white;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 65px;
    width: 100%;
    justify-content: space-around;
    .text-haut{
    margin: 1px;
    font-size: 1.5em;
    }
    
    .icon-container{
        
        .icon-coeur{
            font-size: 1.3em;
            &:hover{
                font-size: 1.5em;
                transition: 1000ms;
               font-weight: 900;
               color: #9356DC ;
               text-shadow: 1px 3px 4px #9356DC;
            }
        }
    }
}
.titre{
    width: 100%;
.titre-gras{
    width: 15%;
    font-size: 1.5em;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    
    &:hover{
        border-bottom: solid #99E2D0;
    }
}
}
.bloc-footer{
margin-top: 50px;
background: #2c2c2c;
display: flex;
justify-content: flex-start;
  .footer-media{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;

  .logo-footer{
    width: 100px;
    margin-bottom: 30px;
    color: azure;
    height: 25px;
    font-size: 2em;
    .logo-media{
        filter: invert(1);
    }

    }
.icon-footer{
    display: flex;
    align-items: baseline;
    color: azure;
    margin: -5px;
    }
    .text-footer{
        color: azure;
    margin-left: 10px;
    margin-top: -15px;
    .color-liens{
        color: azure;
    }

    }
}

}
    .bloc-bottom2{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        .bottom2{
            color: white;
            height: 60px;
            width: 55%;
            border-radius: 25px;
            transition: transform 500ms;
            background-image: linear-gradient(330deg, #9356DC, #FF79DA);
            border: 0;
            /*transition-property: transform;
            transition-duration: 400ms;*/
            &:hover {
                transform: scale(1.15);
        }
        }
    }
