$colour-primary: #a31fa3;
$colour-secondary: #9e9e9e;
$colour-accent: #6b03f1;
$colour-menthe: #16B84E;
$colour-invalid: #2c2c2c; 

.localisation{
    background: $colour-secondary;
}
.bouton{
    background: $colour-primary;
}
.chiffre{
    background: $colour-accent ;
}
.bloc-footer{
    background: $colour-invalid ;
}
.titre-text{
background: #16B84E;
color: green;
}