.header-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    .header-img{
        width: 55%;
    }
}
.titre{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -35px;
    position: relative;
    }
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    .localisation{
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: center;
    }
    .text-gras{
    font-size: 1.5em;
    font-weight: bold;
    }
    .button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    .bouton{
        height: 40px;
        width: 70%;
        border-radius: 25px;
    }
}
}

.container2{
width: 100%;
    
    .fonctionnement{
        display: flex;
        width: 100%;
        height: 50px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 25px;
        box-shadow: 1px 1px 1px 1px  rgb(221, 221, 221) ;
        .chiffre{
    margin-left: -4px;
    border: 1px solid rgb(119, 0, 255);
    width: 15px;
    font-size: 1.1em;
    border-radius: 15px;
    height: 20px;
        }
        .icon{
            color: gray;
            margin-left: 20px;
            margin-top: 10px;
        }
        .icon2{
            color: rgb(119, 0, 255);
            margin-left: 20px;
            margin-top: 10px;
        }
        
        .text-fonctionnement{
            margin-left:60px;
            margin-top: 15px;

        }
}}
.container3{
    width: 100%;
    .image-bloc{
        width: 100%;
        margin-bottom: 20px; 
    }
    .image{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 150px;
    }
    .text-image-bloc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid gray;
        margin-top: -5px;
        box-shadow: 1px 1px 1px grey;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }

}
.bloc-footer{
    margin-top: 50px;

  
    
}
  .logo-footer{
    width: 100px;
    margin: 10px;
    color: azure;
    }
.icon-footer{
    display: flex;
    align-items: baseline;
    color: azure;
    }
    .text-footer{
        color: azure;
    }








    


